@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gilroylight';
  src: url('../fonts/gilroylight-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;

}


body {
  margin: 0;
  padding: 0;

  font-family: gilroyextrabold, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;


  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

.site-navigation-catalog a,
.user-navigation a {
  color: #000000;
}

.visually-hidden {
  display: none;
}

.button-1 {
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000 ;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-image: linear-gradient(#ffffff 29%, #f4d361 29%, #f0c52e 71%, #ffffff 71%);
  border: none;
  outline: none;
}


a.button-1:active {
color:  rgba(0, 0, 0, 0.3);
}

.main-navigation {
background-color: #f7e296;
}

.main-header-logo a:hover,
.main-header-logo a:focus {
 color: rgba(0,0,0,0.6);
}
.main-header-logo a:active {
  color: rgba(0,0,0,0.3);
}

.user-navigation a:hover,
.user-navigation a:focus {
 color: rgba(0,0,0,0.6);
}
.user-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.site-navigation-catalog a:hover,
.site-navigation-catalog a:focus {
 color: rgba(0,0,0,0.6);
}
.site-navigation-catalog a:active {
  color: rgba(0,0,0,0.3);
}

.user-navigation,
.site-navigation-catalog {
  list-style: none;
}

.main-header-logo  a {
  font-family: gilroyextrabold, sans-serif;
  color: #000000;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.user-navigation-search ::placeholder {
  font-family: open_sanslight, sans-serif;
  color: rgba(0,0,0,0.3);
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  font-weight: lighter;
  align-content: center;
}


.user-navigation-search:hover ::placeholder {
 color: rgba(0,0,0,0.6);
}

.user-navigation-search:focus ::placeholder {
 color: rgb(0,0,0,0.6);
}

.user-navigation-search:active ::placeholder {
  color: rgb(0,0,0);
}


.user-navigation-search input {
  background-color: transparent;
  border: 0px solid #000000;
  outline: none;
  display: flex;
}

.button-search {
  background-color: transparent;
  border: 2px solid #000000;
  font-family: open_sanslight, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  outline: none;
}

.button-search:hover {
  background-color: black;
  font-family: open_sanslight, sans-serif;
  color: white;
}

.button-search:active {
  background-color: black;
  font-family: open_sanslight, sans-serif;
  color: rgba(255, 255, 255, 0.3)
}

.user-navigation {
  font-family: open_sanslight, sans-serif;
  color: #000000;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  font-weight: lighter;
}

.site-navigation-catalog {
  font-family: gilroyextrabold, sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.about-us h2 {
  font-family: gilroyextrabold, sans-serif;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.about-us p {
  font-family: open_sanslight, sans-serif;
  color: #000000;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
}

ul.company-list {
  list-style-type: circle;
}

.company-list li {
  font-family: gilroyextrabold, sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 40px;
}

.contacts h2 {
  font-family: gilroyextrabold, sans-serif;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.contacts p {
  font-family: open_sanslight, sans-serif;
  color: #000000;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
}

.button-form {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000 ;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-image: linear-gradient(#ffffff 30%, #f0c52e 30%,#f0c52e 60%, #ffffff 60%);
  border: none;
  outline: none;
}

.logout-button {
  font-family: open_sanslight, sans-serif;
  color: rgba(0,0,0,0.3);
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  font-weight: lighter;
  background-color: transparent;
  padding: 0px;
  border: 0px;
  outline: none;
}

.logout-button:hover {
  color: rgba(0,0,0,0.6);
}

.logout-button:focus {
  color: rgba(0,0,0,0.6);
}

.logout-button:active {
  color: rgb(0,0,0);
}

.page-title {
  font-family: gilroyextrabold, sans-serif;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
  font-family: open_sanslight, sans-serif;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  letter-spacing: 0.01em;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.filter ul {
  list-style: none;
  font-family: open_sanslight, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 40px;
  font-weight: lighter;
  letter-spacing: 0.01em;
}

.filter-button {
  font-family: gilroyextrabold, sans-serif;
  font-size: 18px;
  line-height: auto;
  text-align: center;
  color: #000000 ;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-image: linear-gradient(#ffffff 30%, #f0c52e 30%,#f0c52e 60%, #ffffff 60%);
  border: none;
  outline: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
}

.catalog-item a {
  color: #000000;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.catalog-item-price {
  font-family: gilroylight, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.01em;
}

.main-footer {
  color: #ffffff;

  background-color: #464646;
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-logo a {
  font-family: gilroyextrabold, sans-serif;
  color: #ffc600;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.footer-logo a:focus,
.footer-logo a:hover {
  color: rgba(255, 198, 0, 0.6);
}

.footer-logo a:active {
  color: rgba(255, 198, 0, 0.3);
}


.user-footer-navigation,
.site-footer-navigation {
  list-style: none;
}

.user-footer-navigation a {
  color: rgba(255, 255, 255, 0.7);
}

.user-footer-navigation a:hover,
.user-footer-navigation a:focus {
 color: #ffffff;
}
.user-footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.site-footer-navigation a {
  color: #ffffff
}

.site-footer-navigation a:hover,
.site-footer-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.site-footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-footer-navigation {
  font-family: open_sanslight, sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  font-weight: lighter;
}

.logout-button-1 {
  font-family: open_sanslight, sans-serif;
  color: rgba(255, 255, 255, 0.3);
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  font-weight: lighter;
  background-color: transparent;
  padding: 0px;
  border: 0px;
  outline: none;
}

.site-footer-navigation {
  font-family: gilroyextrabold, sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.footer-contacts-adress {
  font-family: open_sanslight, sans-serif;
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
}

.footer-contacts-number {
  font-family: open_sanslight, sans-serif;
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
}

.social-button {
  list-style: none;
}
.social-button {
  text-align: center;
}

.social-button a {
  color: #ffffff;
}

.modal-write-us {
  background-color: #ffffff;
  background-position: 0 0;
}

.modal-write-us-item label {
  font-family: gilroyextrabold, sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
}

#modal-write-us-name::placeholder {
  font-family: open_sanslight, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 18px;
  font-weight: lighter;
 }

 .modal-write-us-item input[type="text"] {
  background-color: #f2f2f2;
  border:0px solid transparent;
  outline: none;
}

.modal-map {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

#modal-write-us-email::placeholder {
  font-family: open_sanslight, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 18px;
  font-weight: lighter;
 }

 #modal-write-us-text::placeholder {
  font-family: open_sanslight, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 18px;
  font-weight: lighter;
 }

/* ----- Сеточные стили ----- */

/* html,
body {
  min-width: 1122px;
  min-height: 1750px;
}

.main-header {
  min-height: 285px;
  margin: 0px;
  padding: 0px;
  background: white;
}

.main-navigation {
  display: flex;
  min-height: 285px;
  flex-direction: column;
}

.site-navigation-catalog {
  display: flex;
  flex-wrap: wrap;
}

/* .main-navigation-wrapper .container {
  margin-top: 39px;
  margin-left: 135px;
  margin-right: 135px;
  display: flex;
  justify-content: space-between;
} */

/*
.main-header-logo {
  width: 163px;
  height: 53px;
  border: 1px solid black;
  flex-direction: column;
}

.main-header-logo-wrapper  {
  width: 167px;
  border: 1px solid black;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}


.user-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
} */
